html{
    background-color: pink;
    height: 100%;
}

#container{
     height: 325px;
     width: 350px;
     background-color: green;
     display: grid;
     grid-template-columns: 100px 1fr;
     grid-template-rows: 75px 75px 75px 75px;
     grid-template-areas: 
     ". bill-amount"
     ". tip-percentage"
     ". tip-amount"
     ". total-bill"
     "btn btn";
     margin: 0 auto;
     border: 5px solid red;
     padding: 25px; 
     font-family: 'Kumbh Sans', sans-serif;
}
 
#bill_amount{
    grid-area: bill-amount;
}
#tip_percentage{
    grid-area: tip-percentage;
}
#tip_amount{
    grid-area: tip-amount;
}
#total_bill{
    grid-area: total-bill ; 
}

.input-styling{
    height: 25px;
    width: 250px;
    border-radius: 4px;
    /* border-width: 4px; */
    /* border-color: purple; */
}

#btn{
     grid-area: btn;
     height: 25px;
     width: auto;
     font-family: 'Kumbh Sans', sans-serif;
     border-radius: 4px;
     color: green;
     border-color: purple;
     border-width: 4px;
}

h1{
    margin-left: 610px;
    font-family: 'Kumbh Sans', sans-serif;
}